<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BLL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BLL.Properties.Settings>
            <setting name="BLL_serviceLoaiSanPham_WS_LoaiSP" serializeAs="String">
                <value>http://35.231.193.118/ChainCafeManagerment/WS_LoaiSP.asmx</value>
            </setting>
            <setting name="BLL_serviceCoSo_WS_CoSo" serializeAs="String">
                <value>http://35.231.193.118/ChainCafeManagerment/WS_coso.asmx</value>
            </setting>
            <setting name="BLL_serviceKhachHang_WS_KhachHang" serializeAs="String">
                <value>http://35.231.193.118/ChainCafeManagerment/WS_khachhang.asmx</value>
            </setting>
            <setting name="BLL_serviceNhanVien_WS_NhanVien" serializeAs="String">
                <value>http://35.231.193.118/ChainCafeManagerment/WS_nhanvien.asmx</value>
            </setting>
            <setting name="BLL_serviceDieuPhoi_WS_DieuPhoi" serializeAs="String">
                <value>http://35.231.193.118/ChainCafeManagerment/WS_DieuPhoi.asmx</value>
            </setting>
            <setting name="BLL_serviceChiTietHoaDon_WS_ChiTietHoaDon" serializeAs="String">
                <value>http://35.231.193.118/ChainCafeManagerment/WS_ChiTietHoaDon.asmx</value>
            </setting>
            <setting name="BLL_serviceHoaDon_WS_HoaDon" serializeAs="String">
                <value>http://35.231.193.118/ChainCafeManagerment/WS_hoadon.asmx</value>
            </setting>
        </BLL.Properties.Settings>
    </applicationSettings>
</configuration>